name: CI
on:
  workflow_dispatch:
    inputs:
      config:
        description: 'Config file'
        required: true
        default: 'qemu_x86_64'
        type: choice
        options:
        - qemu_x86_64
        - raspberrypi4_64

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - run: echo Config ${{ inputs.config }}

    - name: Get Date for Cache Key
      id: get-date
      run: |
        echo "date=$(/bin/date -u "+%Y%m")" >> $GITHUB_OUTPUT
      shell: bash

    - name: Cache based on selected config and year/month to avoid cruft
      uses: actions/cache@v3
      with:
        path: out
        key: ${{ inputs.config }}-${{ steps.get-date.outputs.date }}

    - name: Build Image
      run: |
        ./build.sh ${{ inputs.config }}

    - name: Upload Config
      uses: actions/upload-artifact@v3
      with:
        name: config
        path: out/.config

    - name: Upload Image
      uses: actions/upload-artifact@v3
      with:
        name: image
        path: out/images