name: Matrix Build Image
on:
  workflow_dispatch:
    inputs:
      br_version:
        description: 'Buildroot version'
        required: true
        default: '2023.05.1'
        type: choice
        options:
        - '2023.02.2'
        - '2023.02.3'
        - '2023.05.1'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          - qemu_aarch64_virt
          - qemu_arm_versatile
          - qemu_x86_64
          - raspberrypi4_64
    steps:
    - uses: actions/checkout@v4

    - run: echo Config ${{ matrix.config }}

    - run: |
        echo '{"buildroot_version": "${{ inputs.br_version }}"}' > config.json

    - name: Get Config Hash for Cache Key
      id: get-hash
      run: |
        echo "hash=$(sha256sum config/${{ inputs.br_version }}/${{ matrix.config }} | awk '{ print $1 }')" >> $GITHUB_OUTPUT
      shell: bash

    - name: Cache based on selected config and Buildroot version
      uses: actions/cache@v3
      with:
        path: out
        key: ${{ matrix.config }}-${{ inputs.br_version }}-${{ steps.get-hash.outputs.hash }}

    - name: Build Image
      run: |
        ./build.sh ${{ matrix.config }}

    - name: Upload Config
      uses: actions/upload-artifact@v4
      with:
        name: config-${{ matrix.config }}-${{ inputs.br_version }}
        path: out/.config

    - name: Upload Image
      uses: actions/upload-artifact@v4
      with:
        name: image-${{ matrix.config }}-${{ inputs.br_version }}
        path: out/images